.item-list .list-group-item {
  cursor: pointer;
  transition: all 0.3s;
}

.item-list .list-group-item:hover {
  background-color: #5fc0ff;
}
.item-list .list-group-item:active {
  background-color: #0f4387;
}